// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  br
  a.nav_link(href='/friend_request_form') Send Friend Request
  br
  br
  br
  p
    | #{title}:
  
    ul
    for request in requests
      ul
      if request.T_ID && request.ITA == 0
          li= "Trip Invite (TripID): " +request.T_ID
          li= "Invited bY: " + request.INVITED_BY
          form(method='get', action='/accept_request')
            input(type='hidden', name='tid', value=request.T_ID)
            input(type='hidden', name='uid', value=uid)
            input(type='hidden', name='fuid', value=request.INVITED_BY)
            input(type='submit', value='Accept')
        if request.T_ID == null && request.FRA == 0
          li="Friend Request"
          li= "Requested By: " + request.REQUESTED_BY 
          form(method='get', action='/accept_request')
            input(type='hidden', name='tid', value=request.T_ID)
            input(type='hidden', name='uid', value=uid)
            input(type="hidden", name='fuid', value=request.REQUESTED_BY)
            input(type='submit', value='Accept')
       br
       
