// Jade file to specify output of an actors list
// Inherits from layout
extend layout
block content
  br
  a.nav_link(href='/friend_request_form') Send Friend Request
  br
  br
  br
  p
    | #{title}:
    
    for request in invites
      ul  
        li= "Trip Invite: "
          a(href="/trip/" + request.T_ID)
            span=request.NAME
        li= "Invited by: "
          a(href="/user/" + request.INVITED_BY)
            span=request.FIRST_NAME + " "+  request.LAST_NAME
        form(method='get', action='/accept_request')
          input(type='hidden', name='type', value='trip')
          input(type='hidden', name='tid', value=request.T_ID)
          input(type='hidden', name='uid', value=uid)
          input(type='hidden', name='fuid', value=request.INVITED_BY)
          input(type='submit', value='Accept')
        form(method='get', action='/reject_request')
          input(type='hidden', name='type', value='trip')
          input(type='hidden', name='tid', value=request.T_ID)
          input(type='hidden', name='uid', value=uid)
          input(type='hidden', name='fuid', value=request.INVITED_BY)
          input(type='submit', value='Reject')
            
    for request in friend_reqs
      ul
        li="Friend Request"
        li= "Requested by: " 
          a(href="/user/" + request.REQUESTED_BY)
            span=request.FIRST_NAME + " " + request.LAST_NAME
        form(method='get', action='/accept_request')
          input(type='hidden', name='tid', value=request.T_ID)
          input(type='hidden', name='type', value='friend')
          input(type='hidden', name='uid', value=uid)
          input(type="hidden", name='fuid', value=request.REQUESTED_BY)
          input(type='submit', value='Accept')
        form(method='get', action='/reject_request')
          input(type='hidden', name='tid', value=request.T_ID)
          input(type='hidden', name='type', value='friend')
          input(type='hidden', name='uid', value=uid)
          input(type="hidden", name='fuid', value=request.REQUESTED_BY)
          input(type='submit', value='Reject')
     br
       
